@import url('https://fonts.googleapis.com/css2?family=Rye&display=trocar');


body {
    background-image: url("../img/florestared.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    color:rgb(149, 111, 13);
    font-family: 'Rye', cursiva;
    background-color: rgb(20, 20, 20);
    resize: none;
    border: 0 none;
    outline: none;
    width: 95vw;
    height: 80vh;
    margin-left: 15px;

}

p{
    margin-left: 50%;
    padding: 50px;
    margin-top: 50px;
}

button{
    background-color: rgb(57, 57, 248);
    color:rgb(122, 3, 3) ;
    font-family: 'Rye', cursiva;
    border-radius: 15px;
    font-size: medium;
    margin-left:80%;
    margin-top: 50px;

}



