@import url('https://fonts.googleapis.com/css2?family=Rye&display=trocar');


body{
	background-image: url(/img/fim.jpg);
	background-size: 25%;
	background-attachment: fixed;
}

h4{
	color:goldenrod;
	text-align: center;
	margin-top: 23%;
	font-size: 20px;
	font-family:'Rye', cursiva;
}


.fim{
    margin-top: 2%;
    color: rgba(95, 8, 8, 0.9);
	align-items: center;
	font-family: 'Rye', cursiva;

}

h1{
	
	text-align: center;
	font-size: 10vw;
	margin-top: 80%;
}

 button {
     
    border-radius: 10px;
    display: inline-block; 
    color: rgba(95, 8, 8, 0.9);
    background-color: #05466f;
    margin-left: 70%;
	font-family:'Rye', cursiva;
	text-decoration: none;
	font-size: 2vw;
	

}

